.home-page {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
  }
  
  .home-page h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .home-page p {
    font-size: 16px;
    margin-bottom: 60px;
    text-align: justify;
  }
  
  .home-logo {
    margin-bottom: 40px; /* Adjust this value as needed for the desired spacing */
  }
  
  @media (max-width: 480px) {
    .home-page {
      padding: 10px;
    }
  
    .home-page h1 {
      font-size: 24px;
    }
  
    .home-page p {
      font-size: 14px;
    }
  
    .home-logo {
      margin-bottom: 20px; /* Adjust this value as needed for the desired spacing */
    }
  }
  
  img {
    border: white solid;
  }
  
  
  